@font-face {
    font-family: SourceCodePro;
    src: url("fonts/SourceCodePro-Light.woff") format("woff"), 
         url('fonts/SourceCodePro-Light.otf') format("opentype"), 
         url('fonts/SourceCodePro-Light.ttf') format('truetype');
    font-weight: 300; 
         
}

@font-face {
    font-family: SourceCodePro;
    src: url("fonts/SourceCodePro-Regular.woff") format("woff"), 
         url('fonts/SourceCodePro-Regular.otf') format("opentype"), 
         url('fonts/SourceCodePro-Regular.ttf') format('truetype');
    font-weight: normal; 
         
}

@font-face {
    font-family: SourceCodePro;
    src: url(fonts/SourceCodeVariable-Italic.ttf);
    font-style: italic;
}


body {
    background-color: white;
    margin: 0px;
    font-family: 'SourceCodePro', 'Consolas', monospace;
    font-weight: 300;
    font-size: 12px;

    overflow-y: scroll; /* Make sure to have the scrollbar at the first load. Otherwise the viewport has the first width on first rendering */
}

#root {
    height: 200%;
}

#invalid-overlay {
    height: 100%;
    z-index: 9000;
    width: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

p {
    line-height: 120%;
}

a {
    color: black;
}

a:visited {
    color: black;
}

#controls {
    position: absolute;    
}

body > .errorify {
  color: red;
  font-family: 'SourceCodePro', 'Consolas', monospace;
  padding: 5px 10px;
  word-wrap: break-word; 
}

td {
    padding-right: 1em;
    padding-bottom: 2em;
}


.textline {
    width: 100%;
    background-color: black;
    color: white;
    padding: 0.5em 0;
}

.textline a {
    color:white;
}

.textline a:visited {
    color: white;
}

#greeding {
    text-align: center;
    padding-top: 8em;
    padding-bottom: 10em;
}

#greeding-logo {
    padding-bottom: 2em;
}

#guidance-start {
    text-align: center;
}


.scene {
    position: relative;
    width: 100%;
    /*height: 100%;*/
    /*overflow: hidden;*/
}

.scene-announcement {
    position: relative;
    text-align: center;
}
.scene-announcement-content {
   position: absolute;
   width: 100%;
   left: 0%;
   top: 50%;
}


.stage-bottom-right {
    position: absolute;
    right: 1em;
    bottom: 3em;
}

.stage-top-right {
    position: absolute;
    right: 1em;
    top: 1em;
}

.about-button {
    margin-left: 1em;
}

.about-content {
    content: "";
    display: table;
    clear: both;
}

.about-logo {
}

.about-side {
    position: absolute;
    margin-left: 1em;
}

.about-main {
    margin-left: 7em;
}

.loading {
    text-align: center;
    position: relative;
}
.loading-message {
    top: 50%;
    position: absolute;
}


.exposer-group {
    overflow: visible;
    margin-left: 1em;
}



.btn {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    padding: 1em 1em 1em 0.7em;
    background-color: white;
    border: 1px solid black;
}

.btn:hover {
    background-color: black;
    color: white;
}

.btn.exposer-group-label {
    margin-bottom: 1em;
    display: block;
    width: 9em;
}
.exposer-group-label:hover,
.exposer-group-label.active {
    background-color: black;
    color: white;
}
    

.exposer-field {
    margin: 0em 1em 1em 0em;
    display: inline-block;
    background-color: white;
    padding: 1em 0em 0em 1em;
    border: 1px solid black;
}
.exposer-field label {
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    margin-right: 1em;
    margin-bottom: 1em;
}

input {
    height: 1.7em;
}

.exposer-field input.numberInput {
    width: 200px;
    margin-left: 1em;
    margin-right: 2em;
    margin-top: -0.1em;
}

.exposer-field input.stringInput {
    width: 200px;
    position: relative;
}

.exposer-field textarea {
    resize: none;
    margin-bottom: 1em;
    margin-right: 1em;
    margin-left: 0.5em;
    font-family: 'Lucida Sans';
    border: 1px solid black;
}

.text-with-table {
    display: inline-block;
}

.sign-table {
    display: inline-block; 
    vertical-align: top;
    font-family: 'Lucida Sans';
    width: 14.4em;
    margin-right: 1em;
    margin-bottom: 1em;
    line-height: 1.5;
}

.sign-table-btn {
    display: inline-block; 
    vertical-align: top;
    text-decoration: none;
    padding: 0.2em 0.5em 0.2em 0.5em;
    color: black;
}

.sign-table-btn:hover {
    background-color: black;
    color: white;
}
.exposer-fields {
    position: absolute;
    top: 0px;
    left: 160px;
    right: 180px;
}

.stage-top-left {
    /*height: 100%;*/
    width: 100%;
    display: table;
    overflow: visible;
    position: absolute;
    padding: 0 0;
    top: 1em;
    z-index: 100;
    /*
    display: flex;
    align-items: center;
    justify-content: center;
    */
}

.popup-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 101;
    transform: translate(-50%, -50%); 
    background-color: white;
    border: 1px solid black;
    width: 37em;
}

.popup-controls {
    position: absolute;
    right: 0px;
}
.popup-title {
    float:left;
    margin: 0.7em;
}
.popup-content {
    margin: 3.5em 1.0em 2.5em 1em;
}

.popup-control {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    background-color: none;
    padding: 0.5em;
    display: block;
}

.popup-control:hover {
    background-color: black;
    color: white;
}

.preset-picker {
    z-index: 100;
}

.preset-picker-arrows {
    display: block;
    margin-left: 1em;
    margin-bottom: 1em;
    position:relative;
}

.preset-picker-next {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    background-color: white;
    padding: 1em 1em 1em 1em;
    background-color: white;
    border: 1px solid black;
    display: inline-block;
    width: 5.5em; 
    box-sizing: border-box;
    text-align: right;
    border-left: 0;
}

.preset-picker-previous {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    background-color: white;
    padding: 1em 1em 1em 1em;
    background-color: white;
    border: 1px solid black;
    display: inline-block;
    width: 5.5em;
    box-sizing: border-box;
    border-right: 0;

}

.preset-picker-next:hover, 
.preset-picker-previous:hover {
    background-color: black;
    color: white;
}


.save-button {
    margin-right: 1em;
    box-sizing: content-box;
    width: 3.0em;
    display: inline-block;
    text-align: center;
}

.reset-button {
    box-sizing: content-box;
    width: 3.0em;
    display: inline-block;
    text-align: center;
}


.end {
    position: relative;
    text-align: center;
    height: 100%;
}

.end-message {
    top: 50%;
    position: absolute;
}
